.hero {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    height: 100vh;
  }
  
  .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Stretch image to fill container */
  }
  
  .hero-content {
    position: absolute; /* Position text on top of image */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset to compensate for centering */
    color: white; /* Adjust text color for visibility */
    text-align: center; /* Center text alignment */
    flex: 1;
  }
  .content-container {
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: flex-start; /* Align items at the top (optional) */
    /* Adjust other styles as needed (margin, padding, etc.) */
  }
  .style {
    width: auto;
  }
  .trending-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns of equal width */
    /* Optional: Set row height (adjust as needed) */
    grid-auto-rows: minmax(200px, auto);
  }
  .header {
    background-color: #f0f0f0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align buttons to the right */
  }
.big-heading {
    font-size: 40px;
    color: rgb(97, 97, 94);
  }
.Signup {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;

}
.Signin {
  background-color: bisque;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;

}
.center-buttons {
  display: flex;
  justify-content: center;
}
.like-button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.like-button__icon {
  margin-right: 5px;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc; /* Optional border for the search bar */
  border-radius: 5px;
  padding: 8px;
}

.search-icon-container {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 10px; /* Adjust the position as needed */
  top: 80%;
  transform: translateY(-50%);
  z-index: 1;
}
.search-icon2 {
  position: absolute;
  transform: translateY(-170%);
}

.search-input {
  border: none;
  border-radius: 5px;
  padding: 8px;
  padding-left: 30px; /* Adjust the padding to accommodate the icon */
  outline: none;
  width: 100%;
}
.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card .card-img-top:hover {
  transform: scale(1.1);
}

